body,
html {
min-height:100%;
margin:0%;
padding:0%;
padding-top:0%;
padding-bottom:0%;
margin-top:0%;
margin-bottom:0%;
}
.romdom-header {
  width:100%;
  font:6em "Amatic SC", cursive;
  color:#fff;
  text-align:center;
}
.romdom-header2{
  width:100%;
  font:6em "Amatic SC", cursive;
  color:black;
  text-align:center;
}
.topshelf{
  background-color:white;
}
.nxtfrmtopshelf{
  background-image:url("https://i76.photobucket.com/albums/j23/haley_bates/cool2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
.snxtfrmtopshelf{
  background-image:url("https://i900.photobucket.com/albums/ac202/CatatonicChelseee/hahahahahahaha.jpg");
background-repeat:no-repeat;
background-size:cover;
}
.tnxtfrmtopshelf{
background-image:url("https://i91.photobucket.com/albums/k287/honeydew_07/Color/color-14.jpg");
background-repeat:no-repeat;
background-size:cover;  
}
.portfolioshelf{
 background-color:#fff;
}
.bottomshelf{
  background-color:black;
}
